!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Dojo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #app.is-flex
      - if user_signed_in?
        = render partial: "shared/flash_messages", flash: flash
        %navmenu.is-relative{username: current_user.username, type: current_user.type, navbar: navbar.to_json}
        %router-link{to: "/"}= "Go to Foo"
        %router-link{to: "qualifications"}= "Go to Bar"
        %main.is-flex
          %router-view
        %template{id: (params[:controller] + '_' + params[:action])}
          .yield
            = yield
      - else
        = yield
